.container {
  background-color: #3A3A3A;
  padding: 64px 20px 20px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.exchange-block {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 7px;
  background-color: #5A5A5A;
  border-radius: 15px;
}

.input {
  background-color: #424242;
  border: none;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  width: 100px;
  font-size: 20px;
  line-height: 24px;
  height: 80px;
  width: 250px;
}

.coin-select {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}

.coin-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.exchange-button {
  background-color: #ffb300;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffa000;
  }
}

.exchange-rate {
  font-size: 12px;
  margin-top: 10px;
  color: #ccc;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.you-p {
  text-align: start;
  color: #e6e6e6;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 0.2rem;
}
