.container {
  background-color: #3a3a3a;
  padding: 64px 20px 20px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
}

.exchange-block {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #424242;
  border: none;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  width: 250px;
  font-size: 20px;
  line-height: 24px;
  height: 80px;
}

.input {
  background-color: #424242;
  border: none;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  width: 250px;
  font-size: 20px;
  line-height: 24px;
  height: 80px; /* Убедитесь, что высота одинакова для input и select */
}

.custom-select {
  background-color: #424242;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px; /* Делаем border-radius такой же как у инпута */
  width: 150px;
  height: 80px; /* Устанавливаем такую же высоту как у инпута */

  & .MuiSelect-icon {
    color: #fff; /* Стрелка select */
  }

  & .MuiOutlinedInput-notchedOutline {
    border: none; /* Убираем стандартную обводку */
  }

  &:hover {
    background-color: #383838;
  }
}

.selected-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.currency-icon {
  width: 24px;
  height: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #3a3a3a;
  width: 100%;
}

.MuiPaper-root {
  background-color: #3a3a3a !important; /* Фон выпадающего списка */
}

.MuiMenuItem-root {
  &:hover {
    background-color: #000000; 
  }
}

.exchange-button {
  background-color: #ffb300;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffa000;
  }
}

.exchange-rate {
  font-size: 12px;
  margin-top: 10px;
  color: #ccc;
}

.you-p {
  text-align: start;
  color: #e6e6e6;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 0.2rem;
}

.coin-button {
  background: #3a3a3a;
  border: none;
  cursor: pointer;
}